@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');
@import url('normalize.css');
@import url('layout/header.css');
@import url('layout/footer.css');

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


body {
	background: #fff;
	font-family: 'Roboto', sans-serif;
}


*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}



.page__container {
	max-width: 1280px;
	padding: 0 20px;
	height: auto;
	margin: 0 auto;
}


.wrap__logo {
	background: url(https://c.s-microsoft.com/en-us/CMSImages/IOT_WindowsIoT_Illustration_1600X300.jpg?version=35db3743-09c5-6c32-3fe6-85559d3e5b33) no-repeat -40px 10px;
	background-size: 100%;
	height: 100px;
	width: 400px;

}

.container__wrap {
	float: left;
	height: 100px;
	padding: 10px;
}

.container__wrap--footer {
	font-size: 20px;
	margin-top: 30px;
	color: #fff;
}

.container__logotype {
	float: left;
	height: 35px;
	font-size: 16px;
	min-width: 100px;
	padding: 5px;
	position: relative;
	margin: 0 5px;
	overflow: hidden;
	line-height: 2.1;
	transition: all 0.3s;
	animation: bounceIn 0.6s;
  	transform: rotate(0deg) scale(1) translateZ(0);
  	transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
}

.container-outwrap {
	padding-top: 155px;
}

.container__logotype img {
	max-width: 100px;
	vertical-align: middle;
	position: absolute;
	min-width: 100px;
	top: 50%;
	margin-top: -15px;
}

.container__wrap--left {
	width: 65%;
	margin-right: calc(5% - 20px);
}

.wrap-white {
	color: #fff;
}

.write-h2 {
	letter-spacing: -0.01em;
    line-height: 1;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 87px;

}

.write-p {
	font-size: 30px;
	font-weight: 400;
	color: #fff;
}

.wrap-logo {
	margin-top: 40px;
	width: 100%;
}

.container__wrap--right {
	width: 25%;
	
}

.container__wrap__block {
	width: 100px;
	height: 100px;
	float: left;
	margin: 2px;
	border-radius: 15px;
}

.container__wrap__block--s1 {
	background: url(../img/s1.png) no-repeat center center;
	background-size: cover;
}


@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(.3);
  } 

  50% {
    opacity: 1;
    transform: scale(1.05);
  } 

  70% {
    opacity: 1;
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.page__mainwrap {
	position: relative;
	width: 100%;
	height: 100%;
	filter: grayscale(100%);
	opacity: 0.7;
}

.page__mainwrap--visible {
	filter: grayscale(0%);
	opacity: 1;
}


.page__wrap {
	min-height: 2200px;
}

.text__wrap {
	padding: 10px;
}


.page-header {
	margin: 120px auto 10px auto;
}


.page__container--company {
	margin-top: 70px;
}

.page-header__title {
	font-size: 36px;
	font-weight: 600;
	line-height: 1.36;
	text-align: center;
	color: gray;
	transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
}

.page__mainwrap--visible .page-header__title {
	color: #335578;
}


.page-body--left, 
.page-body--right {
	width: 50%;
    float: left;
    padding-top: 35px;
}

.page-body__picture {
	display: block;
	height: 100%;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	filter: grayscale(100%);
}

@media (max-width: 768px) {

	.page-body,
	.page__container,
	.page-footer--container {
		margin: 0 auto !important;
		width: 90%;
	}

	.page-footer {
		height: auto !important;
	}

	.container__wrap--right {
		width: 100%;
	}

	.page-body--left, .page-body--right {
		width: 100%;
    	float: none;
	}

	.page-body__picture {
	    display: none !important;
	}
}

.color--secondary {
    color: #335578;
}

.h3 {
    font-size: 24px;
    line-height: 1.6;
    font-weight: 500;
}

.color__text--secondary {
    color: #677482;
}

.page-body {
	margin: 90px auto;
	display:                 flex;
	display:                 -webkit-flex; /* Safari 8 */
	flex-wrap:               wrap;
	-webkit-flex-wrap:       wrap;         /* Safari 8 */
	justify-content:         center;
	-webkit-justify-content: center; 
}

.page-body__text p {
	font-size: 20px;
	line-height: 1.7;
    padding-right: 25%;
    margin: 0 0 15px 0;
}

.page-body--right-small {
	width: 30%;
}

.img-telco {
	background-image: url(../img/telco.png);
}

.img-notum {
	background-image: url(../img/notum.gif);
}

.img-city {
	background-image: url(../img/city.jpg);
}

.img-logistic {
	background-image: url(../img/logistic.jpg);
}

.fix-top {
	margin-top: 25px;
}



.page-footer {
	background: rgba(44, 50, 57, 1) url(../img/exagon-pattern.png);
	width: 100%;
	height: 655px;
}

.page-footer--container {
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
	padding-top: 35px;
}